<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mukesh.medisys">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/health"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:icon="@mipmap/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupForm"
            android:label="@string/title_activity_signup_form" />
        <activity
            android:name=".SetReminder"
            android:icon="@drawable/health"
            android:label="@string/app_name"
            android:windowFullscreen="true" />
        <activity
            android:name=".NotificationReceiverActivity"
            android:icon="@drawable/health"
            android:label="@string/app_name" />

        <receiver
            android:name=".Reciever"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AddMedication"
            android:windowFullscreen="true" />
        <activity android:name=".Profile" />
        <activity android:name=".History" />
        <activity android:name=".Rough" />
        <activity android:name=".Medicine_Graph" />
        <activity android:name=".AddMedical_history"></activity>
    </application>

</manifest>